.terraform/
.terraform-plugin-cache/
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup
*.tfplan
plan.out
plan.json
plan.bin
crash.log
crash.*.log
*.pem
*.key
kubeconfig
kubeconfig*
.env
.env.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.auto.tfvars
*.auto.tfvars.json
terraform.tfvars
!terraform.tfvars.example
.DS_Store
